@import "../../../assets/styles/styles.scss";

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    

    &__top{
        height: 8vw;
        padding: 10px 0 5px 0;
        // background-color: aquamarine;
        width: 100%;
    }


    &__text{
        line-height: 1.6;
        width: max(80%, 250px);
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__paragraph{
            font-weight: 200;
            font-size: 5vmin;
            padding-bottom: 10px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-style: italic;
            text-align: center;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: url("../../../assets/images/grey.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;

        }
        

    }

    &__arrowdown{
    color: white;
    opacity: 30%;
    font-size: 11vmin;
    }

}





@media screen and (min-width: 300px) {
    .description {
        &__text{

            &__paragraph{
                font-size: 4vmin;
            }
        }
              
    }
}

@media screen and (min-width: 481px) {
    .description {
        &__text{

            &__paragraph{
                font-size: 3.2vmin;
            }
        }
              
    }
}

@media screen and (min-width: 600px) {
    .description {
        &__text{

            &__paragraph{
                font-size: 3vmin;
            }
        }
              
    }
}

@media screen and (min-width: 768px) {
    .description {
        &__text{

            &__paragraph{
                font-size: 3.3vmin;
            }
        }
              
    }
}




@media screen and (min-width: 991px) {
    .description {
        &__text{

            &__paragraph{
                font-size: 3.6vmin;
            }
        }
              
    }
}

