.skill {
    width: 17vmin;
    height: 17vmin;
    // background-color: cornflowerblue;

    &__outer {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        // border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        &__inner {
            height: 100%;
            width: 100%;
            border-radius: 7vmin;
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            display: flex;
            justify-content: center;
            align-items: center;

            &__icon {
                color: white;
                font-size: 8.5vmin;
                opacity: 70%;
            }

            &__text {
                position: absolute;
                top: 100%;
                color: white;
                text-transform: uppercase;
                font-style: italic;
                font-weight: 300;
                font-size: 2.7vmin;
            }
        }
    }

    &__svg {
        display: none;
        position: absolute;
        top: 100px;
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 5;
        stroke-dasharray: 472;
        stroke-dashoffset: 472; //Change this value to change the percentage fullness
        // animation: anim 10s linear forwards; gsap will probably animate
    }
}

@media screen and (min-width: 560px) {
    .skill {
        &__outer {
            &__inner {
                &__text {
                    font-weight: 300;
                    font-size: 2.3vmin;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .skill {
        width: 160px;
        height: 160px;
        // background-color: cornflowerblue;

        &__outer {
            position: absolute;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            // border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            &__inner {
                opacity: initial;
                height: 120px;
                width: 120px;
                border-radius: 50%;
                background-image: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &__icon {
                    color: white;
                    font-size: 60px;
                    opacity: 70%;
                }

                &__text {
                    opacity: 0;
                    width: 70%;
                    display: none;
                    position: absolute;
                    text-transform: uppercase;
                    font-style: italic;
                    left: 140px;
                    top: initial;
                    color: white;
                    font-weight: 300;
                    font-size: 2.4vmin;
                }
            }
        }

        &__svg {
            display: initial;
            position: absolute;
            top: 100px;
            fill: none;
            stroke: url(#GradientColor);
            stroke-width: 5;
            stroke-dasharray: 472;
            stroke-dashoffset: 472; //Change this value to change the percentage fullness
            // animation: anim 10s linear forwards; gsap will probably animate
        }
    }
}

@media screen and (min-width: 991px) {
    .skill {
        &__outer {
            &__inner {
                &__text {
                    opacity: 100%;
                    font-weight: 100;
                    font-size: 2.1vmin;
                    display: initial;
                }
            }
        }
    }
}

@media screen and (min-width: 1081px) {
    .skill {
        &__outer {
            &__inner {
                &__text {
                    font-size: 2.3vmin;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .skill {
        &__outer {
            &__inner {
                &__text {
                    font-size: 3vmin;
                }
            }
        }
    }
}
