@import "../../assets/styles/styles.scss";


// My Projects Section  Components
.my-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow-y: hidden;
        scroll-snap-align: start;

        background-image: url("../../assets/images/deepdark.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
  
    &__title {
      font-size: 8vw;
      color: $color-title;
      font-weight: 200;
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  
    &__h-container {
      width: 80%;
      height: 65%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow-y: hidden;
      overflow-x: auto;
      align-items: center;
      border-radius: 10px;
      z-index: 1;
      scroll-snap-type:x mandatory;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: white dashed 5px;
  
      &::-webkit-scrollbar {
        display: none;
    }
    
      &::-webkit-scrollbar-thumb {
        display: none ;
      }
      
  
      &__column {
        height: 100%;
        line-height: 2em;
        width: 100%;
        flex-shrink: 0;
        display: grid;
        grid-template-columns: 1fr;
        scroll-snap-align: start;
        align-items: center;
        justify-items: center;
  
        &__project-box {
          background-color: $color-title;
          width: 220px;
          height: 220px;
          margin: 1px;
          border-radius: 5px;
        }
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    .my-projects {
  
      &__h-container {
  
        &__column {
          width: 50%;
        }
      }
    }
  }
  
  @media screen and (min-width: 991px) {
    .my-projects {
  
      &__h-container {
  
        &__column {
          width: 33.33%;
        }
      }
    }
  }
  
  @media screen and (min-width: 1400px) {
    .my-projects {
  
      &__h-container {
  
        &__column {
          width: 25%;
        }
      }
    }
  }