@import "../../assets/styles/styles.scss";

// My Projects Section  Components
.my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow-y: hidden;
    scroll-snap-align: start;

    background-image: url("../../assets/images/deepdark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

    &__title {
        font-size: $aboutMeTitle-font-size;
        color: $color-title;
        font-weight: 200;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
}
