@import "../../assets/styles/styles.scss";

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    overflow-y: hidden;
    overflow-x: hidden;
    &__title {
        background-color: aqua;
        z-index: 2;
        padding: 10px 0 2px 0;
        font-size: $aboutMeTitle-font-size;
        color: $color-title;
        font-weight: 200;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-align: center;
        // background-color: brown;

        &__arrow {
            font-size: calc($aboutMeTitle-font-size * 0.8);
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    &__contents {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        // background-color: aqua;
        // opacity: 90%;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        &__carousel {
            display: flex;
            justify-content: center;
            // background-color: palegreen;
            width: 300%;
            height: 100%;

            &__page {
                scroll-snap-align: start;
                width: 100vw;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                background-attachment: fixed;

                &--skills {
                    // background-color: brown;
                    background-image: url("../../assets/images/blackblu.jpg");
                }

                &--description {
                    // background-color: black;
                    background-image: url("../../assets/images/pastelpurple.jpg");
                }

                &--techstack {
                    // background-color: red;
                    background-image: url("../../assets/images/ultraviolet.jpg");
                }
            }
        }
    }

    &__arrow-down {
        z-index: 2;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: aquamarine;

        height: $aboutMeTitle-font-size;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .about-me {
        &__arrow-down {
            visibility: visible;
        }
    }
}
