@import "../../assets/styles/styles.scss";

.about-me {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  
  
  
  background-image: url("../../assets/images/pastelpurple.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;

  
  &__title {
    position: relative;
    padding: 10px 0 5px 0;
    font-size: 8vw;
    color: $color-title;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-align: center; 
    background-color: brown;
    

    &__arrow{
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  
  
  
  
}